<!DOCTYPE html>
<html lang="en">
<head>
  <title>Router</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



    <style>
        div.container {
    width: 100%;

}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}
        .input-group {
    float: right;
}
</style>

    </head>
<body>
<form method="POST">
<div class="container">
    <header>
         <h2>Raspberry Pi Router</h2>
    </header>
        <div >
  <div class="input-group">
    <a href="logout.html"> <label>Logout</label></a>

  </div>
</div>

    </header>
    <br>
    <br>
    <br>
    <a href="{{ url_for('wifi') }}"><img src="/static/img/wifirouter.jpg" height="250" width="400">Raspberry Pi WiFi Router</a>

    <a href="{{ url_for('wifi') }}"><img src="/static/img/wiredrouter.jpg" height="250" width="400">Raspberry Pi Wired Router</a>
    
    
<br><br>
    <br>
    <br/>
    <br>
    <br/>
    <br/>
    <br/>
    <br>
    <br>
    <br>
<div class="container">
    <footer>
         <h5>Copyright2017@RIT_RaspberryPiRouter</h5>
    </footer>
</div>
</div>
</form>
</body>
</html>
